<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="user" value="eddy.fishman@gmail.com" />
    <add key="rootFolderId" value="0B7tLOTLzOeFMTzdCRHZXSERueWs" />
    <add key="PresentationsListCache" value="c:\dev\GoogleDrive\GoogleDrive\PresentationsCache.json" />
    <add key="SpecificPresentationId" value="1ytESYKgYSLHUGJnFeO86v13osdz3AgCTdHy_4YRd3Qc" />
    <add key="LastSlideText" value="⏭" />
    <add key="NextSlideText" value="⏩" />
    <add key="PrevSlideText" value="⏪" />
    <add key="FirstSlideText" value="⏮" />
    <add key="TextStyle" value="{fontFamily: 'Arial', fontSize:{magnitude: 24, unit: 'PT'}}" />
    <add key="TextStyleFields" value="fontFamily, fontSize" />
    <add key="ParagraphStyleLTR" value="{direction: 'LEFT_TO_RIGHT'}" />
    <add key="ParagraphStyleRTL" value="{direction: 'RIGHT_TO_LEFT'}" />
    <add key="ParagraphStyleFields" value="direction" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="LayoutObjectId" value="g24d2e8488f_0_407" />    
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>